[Unit]
Description=Notify when battery charge crosses a threshold

[Timer]
AccuracySec=1sec
OnStartupSec=30sec
OnUnitActiveSec=1min

[Install]
WantedBy=timers.target
